In [1]:
#Sentiment Analysis
###################

# First version of the sentiment analysis
# in short, it goes through the first couple of entered tweets 
# of which the sentiment has to be determined
# the classifyer is then trained
# A tweet can then be classified and
# a simple function determines the further sentiment 
# (for or against Hillary/Trump)
# by simply counting whom is mentioned more in the tweet

# To test if it all kinda works, there is an automatic sentiment provider
# which assigns a sentiment to a tweet based on a coinflip
# you'll pass by this when you run the scripts


# Problems:
###########
# URL's in tweets
# names in tweets, names are going to be associated to a certain sentiment,
# which should not be the case.

In [1]:
# Import all the libraries required
import random
import os
import json
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.cm as cm
from matplotlib.colors import rgb2hex
from descartes import PolygonPatch
from shapely.geometry import Polygon, MultiPolygon

import pymongo
from pymongo import MongoClient
import json
import pandas as pd
from pprint import pprint

# This snippet downloads the most popular datasets for experimenting with NLTK functionalities.
import nltk
nltk.download('popular')

import nltk.classify.util
from nltk.classify import NaiveBayesClassifier
from nltk.corpus import movie_reviews

[nltk_data] Downloading collection 'popular'
[nltk_data]    |
[nltk_data]    | Downloading package cmudict to
[nltk_data]    |     C:\Users\chris\AppData\Roaming\nltk_data...
[nltk_data]    |   Package cmudict is already up-to-date!
[nltk_data]    | Downloading package gazetteers to
[nltk_data]    |     C:\Users\chris\AppData\Roaming\nltk_data...
[nltk_data]    |   Package gazetteers is already up-to-date!
[nltk_data]    | Downloading package genesis to
[nltk_data]    |     C:\Users\chris\AppData\Roaming\nltk_data...
[nltk_data]    |   Package genesis is already up-to-date!
[nltk_data]    | Downloading package gutenberg to
[nltk_data]    |     C:\Users\chris\AppData\Roaming\nltk_data...
[nltk_data]    |   Package gutenberg is already up-to-date!
[nltk_data]    | Downloading package inaugural to
[nltk_data]    |     C:\Users\chris\AppData\Roaming\nltk_data...
[nltk_data]    |   Package inaugural is already up-to-date!
[nltk_data]    | Downloading package movie_reviews to
[nltk_data]    |     C:\Users\chris\AppData\Roaming\nltk_data...
[nltk_data]    |   Package movie_reviews is already up-to-date!
[nltk_data]    | Downloading package names to
[nltk_data]    |     C:\Users\chris\AppData\Roaming\nltk_data...
[nltk_data]    |   Package names is already up-to-date!
[nltk_data]    | Downloading package shakespeare to
[nltk_data]    |     C:\Users\chris\AppData\Roaming\nltk_data...
[nltk_data]    |   Package shakespeare is already up-to-date!
[nltk_data]    | Downloading package stopwords to
[nltk_data]    |     C:\Users\chris\AppData\Roaming\nltk_data...
[nltk_data]    |   Package stopwords is already up-to-date!
[nltk_data]    | Downloading package treebank to
[nltk_data]    |     C:\Users\chris\AppData\Roaming\nltk_data...
[nltk_data]    |   Package treebank is already up-to-date!
[nltk_data]    | Downloading package twitter_samples to
[nltk_data]    |     C:\Users\chris\AppData\Roaming\nltk_data...
[nltk_data]    |   Package twitter_samples is already up-to-date!
[nltk_data]    | Downloading package omw to
[nltk_data]    |     C:\Users\chris\AppData\Roaming\nltk_data...
[nltk_data]    |   Package omw is already up-to-date!
[nltk_data]    | Downloading package wordnet to
[nltk_data]    |     C:\Users\chris\AppData\Roaming\nltk_data...
[nltk_data]    |   Package wordnet is already up-to-date!
[nltk_data]    | Downloading package wordnet_ic to
[nltk_data]    |     C:\Users\chris\AppData\Roaming\nltk_data...
[nltk_data]    |   Package wordnet_ic is already up-to-date!
[nltk_data]    | Downloading package words to
[nltk_data]    |     C:\Users\chris\AppData\Roaming\nltk_data...
[nltk_data]    |   Package words is already up-to-date!
[nltk_data]    | Downloading package maxent_ne_chunker to
[nltk_data]    |     C:\Users\chris\AppData\Roaming\nltk_data...
[nltk_data]    |   Package maxent_ne_chunker is already up-to-date!
[nltk_data]    | Downloading package punkt to
[nltk_data]    |     C:\Users\chris\AppData\Roaming\nltk_data...
[nltk_data]    |   Package punkt is already up-to-date!
[nltk_data]    | Downloading package snowball_data to
[nltk_data]    |     C:\Users\chris\AppData\Roaming\nltk_data...
[nltk_data]    |   Package snowball_data is already up-to-date!
[nltk_data]    | Downloading package averaged_perceptron_tagger to
[nltk_data]    |     C:\Users\chris\AppData\Roaming\nltk_data...
[nltk_data]    |   Package averaged_perceptron_tagger is already up-
[nltk_data]    |       to-date!
[nltk_data]    |
[nltk_data]  Done downloading collection popular

In [2]:
client = MongoClient()
db = client["Fundamentals_34"]

fieldsToSelect = { "_id": 1, "created_at": 1, "text": 1, "coordinates": 1, "place": 1 }
tweet_data = db.preprocessedTweets.find({}).limit(2000)
df = pd.DataFrame(list(tweet_data))

df.head()

,_id,country,country_code,created_at,id,lat,locationName,long,text,trumpOrHillary,user
0,5ba60d5d286c6420bce62bea,United States,US,Fri Aug 12 10:04:00 +0000 2016,764039724818272256,38.627027,Frontenac,-90.419685,theblaze realdonaldtrump,trump,366636488
1,5ba60d5d286c6420bce62beb,United States,US,Fri Aug 12 10:04:02 +0000 2016,764039733076897792,30.459100,Baton Rouge,-91.090800,barackobama fbi lorettalynch collusion togethe...,trump,82496193
2,5ba60d5d286c6420bce62bec,United States,US,Fri Aug 12 10:04:10 +0000 2016,764039769244348417,38.627027,Frontenac,-90.419685,theblaze realdonaldtrump,trump,366636488
3,5ba60d5d286c6420bce62bed,Australia,AU,Fri Aug 12 10:04:21 +0000 2016,764039812479225856,-37.972566,Melbourne,145.053135,hillaryclinton one year thing done eight,hillary,44032624
4,5ba60d5d286c6420bce62bee,United States,US,Fri Aug 12 10:04:30 +0000 2016,764039849850482689,39.284713,Baltimore,-76.620482,cnn newday clear trump deliberately throwing r...,trump,769208504

In [3]:
import nltk.classify.util
from nltk.classify import NaiveBayesClassifier
from nltk.corpus import movie_reviews


# A function that extracts which words exist in a text based on a list of words to which we compare.
def word_feats(words):
        return dict([(word, True) for word in words])

# Get the negative reviews for movies    
negids = movie_reviews.fileids('neg')

# Get the positive reviews for movies
posids = movie_reviews.fileids('pos')
 
# Find the features that most correspond to negative reviews    
negfeats = [(word_feats(movie_reviews.words(fileids=[f])), 'neg') for f in negids]

# Find the features that most correspond to positive reviews
posfeats = [(word_feats(movie_reviews.words(fileids=[f])), 'pos') for f in posids]

# We would only use 1500 instances to train on. The quarter of the reviews left is for testing purposes.
negcutoff = int(len(negfeats)*3/4)
poscutoff = int(len(posfeats)*3/4)

In [4]:
# Construct the training dataset containing 50% positive reviews and 50% negative reviews
trainfeats = negfeats[:negcutoff] + posfeats[:poscutoff]

# Construct the negative dataset containing 50% positive reviews and 50% negative reviews
testfeats = negfeats[negcutoff:] + posfeats[poscutoff:]

print ('train on %d instances, test on %d instances' % (len(trainfeats), len(testfeats)))

# Train a NaiveBayesClassifier
classifier = NaiveBayesClassifier.train(trainfeats)

# Test the trained classifier and display the most informative features.
print ('accuracy:', nltk.classify.util.accuracy(classifier, testfeats))
classifier.show_most_informative_features()

train on 1500 instances, test on 500 instances
accuracy: 0.728
Most Informative Features
             magnificent = True              pos : neg    =     15.0 : 1.0
             outstanding = True              pos : neg    =     13.6 : 1.0
               insulting = True              neg : pos    =     13.0 : 1.0
              vulnerable = True              pos : neg    =     12.3 : 1.0
               ludicrous = True              neg : pos    =     11.8 : 1.0
                  avoids = True              pos : neg    =     11.7 : 1.0
             uninvolving = True              neg : pos    =     11.7 : 1.0
             fascination = True              pos : neg    =     10.3 : 1.0
              astounding = True              pos : neg    =     10.3 : 1.0
                 idiotic = True              neg : pos    =      9.8 : 1.0

In [5]:
df['Sentiment'] = df['text'].apply(lambda x: classifier.classify(word_feats(x.split())))
df.head()

,_id,country,country_code,created_at,id,lat,locationName,long,text,trumpOrHillary,user,Sentiment
0,5ba60d5d286c6420bce62bea,United States,US,Fri Aug 12 10:04:00 +0000 2016,764039724818272256,38.627027,Frontenac,-90.419685,theblaze realdonaldtrump,trump,366636488,pos
1,5ba60d5d286c6420bce62beb,United States,US,Fri Aug 12 10:04:02 +0000 2016,764039733076897792,30.459100,Baton Rouge,-91.090800,barackobama fbi lorettalynch collusion togethe...,trump,82496193,pos
2,5ba60d5d286c6420bce62bec,United States,US,Fri Aug 12 10:04:10 +0000 2016,764039769244348417,38.627027,Frontenac,-90.419685,theblaze realdonaldtrump,trump,366636488,pos
3,5ba60d5d286c6420bce62bed,Australia,AU,Fri Aug 12 10:04:21 +0000 2016,764039812479225856,-37.972566,Melbourne,145.053135,hillaryclinton one year thing done eight,hillary,44032624,pos
4,5ba60d5d286c6420bce62bee,United States,US,Fri Aug 12 10:04:30 +0000 2016,764039849850482689,39.284713,Baltimore,-76.620482,cnn newday clear trump deliberately throwing r...,trump,769208504,pos

In [6]:
df['Sentiment'].value_counts()

pos    1171
neg     829
Name: Sentiment, dtype: int64

In [7]:
df.to_csv('Sentiment.csv')